html,
body{
  width: 100%;
  height: 100%;
  font-family: "lato";
}

body {
  background-color: #e6e6e6;
}

header {
    height: 80%;
    min-height: auto;
    width: 100%;
    text-align: center;
    background: linear-gradient(
                  rgba(0, 0, 0, 0),
                  rgba(0, 0, 0, 1)
                ),
                url(d.jpg);
    background-position: center;
    background-size: cover;
}

header .header-content {
    position: relative;
    width: 100%;
    top: 90%;
}

header .header-content .header-content-inner h1 {
    margin-top: 0;
    margin-bottom: 0;
    color: #fff;
    text-align: left;
    padding-left: 8%;
}


@media(max-width:768px) {
    header {
        min-height: 100%;
    }

    header .header-content {
        position: absolute;
        top: 80%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    header .header-content .header-content-inner {
        margin-right: auto;
        margin-left: auto;
    }

    header .header-content .header-content-inner h1 {
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }

}

#duration {
  margin-top: 10px;
  border: 1px solid #b3b3b3;
  background-color: #fff;
  box-shadow: 2px 2px 2px #bfbfbf;
}

.table-nonfluid {
  margin-top: 20px;
  font-size: 16px;
  width: auto;
}

#nonfluidContainer {
  padding: 0px;
}

#eventDescriptor {
  margin-top: 10px;
  border: 1px solid #b3b3b3;
  background-color: #fff;
  box-shadow: 2px 2px 2px #bfbfbf;
}

#description{
  border: 1px solid #b3b3b3;
  background-color: #fff;
  box-shadow: 2px 2px 2px #bfbfbf;
}

#descriptionHeading {
  margin: auto;
}

#descriptionContent {
  margin: auto;
}

#venue {
  padding: 0px;
}
